<div class="container">
  <h1>Log In</h1>
  <form action="/login" method="post">
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" value="Log In">
  </form>
  <p>
  <a href="/user/new">Create Account</a>
</div>